* {
  margin: 0px;
  padding: 10px;
  text-decoration: none;
}

nav {
  background-color: #D5FE9B;
  position: relative;
  padding: 0px;
  text-align: center;
  margin: 0px;
}

body {
  background: #ffffff;
  font-family: 'Goblin One', cursive;
  color: #341342;
  text-align: center;
  line-height: 1.8;
  text-align: center;
  margin: 75px;
}

h1 {
  color: #FF634B;
  font-size: 70px;
}

h2 {
  color: #F55E4B;
  font-size: 60px;
  text-align: center;
}

h3 {
  text-align: left;
  font-size: 90%;
}

h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #FF522A;
  text-align: center;
  font-size: 35px;
}

.cleartext {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.lefttext {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
}

.bigunicode {
  font-size: 80px;
}

ul li {
  list-style: none;
  display: inline-block;
  line-height: 100px;
}

ul li a {
  padding: 0 20px;
  display: block;
}

.smaller-image {
  max-width: 50%;
  text-align: left;
}

.img {
  max-width: 100%;
  text-align: center;
}

.container {
  position: relative;
}

.text-block {
  position: absolute;
  bottom: 5%;
  right: 5%;
  top: 5%;
  left: 5%;
  margin: 0px;
  overflow: hidden;
  color: #FF522A;

}

.fat-yellow-border {
  border-color: #FFFDC4;
  border-width: 20px;
  border-style: solid;
  border-radius: 50%;
}

.thin-green-border {
  border-color: #D5FE9B;
  border-width: 10px;
  border-style: solid;
  border-radius: 20px;
}

.hot-pink-border {
  border-color: #FF522A;
  border-width: 55px;
  padding: 0px;
  border-style: groove;
  border-radius: 20px;
}

.box-demonstration {
  position: relative;
  background: blue;
  padding: 20px;
  margin: 50px;
  border: 11px solid rgb(235, 133, 226);
  text-align: center;
  border-radius: 15px;
}


.black-box {
  background-color: black;
  padding: 20px;
}

.banner {
  position: relative;
  display: flex;
  background: rgb(187, 31, 31);
  padding: 20px;
  text-align: center;
  margin: 20px 10px;
  border: 20px solid rgb(22, 183, 204);
}


.parent {
  position: relative;
  background: #af4242;
  padding: 25px;
  text-align: center;
  margin: 15px;
  border: 10px solid black;

}

.child-one {
  position: relative;
  width: auto;
  height: auto;
  background: hsl(61, 92%, 86%);
  padding: 10%;
  text-align: center;
  margin: 10px;
}

.child-two {
  position: relative;
  width: auto;
  height: auto;
  background: #dbffb9;
  padding: 10%;
  text-align: center;
  margin: 10px;

}

.child-three {
  position: relative;
  width: 75%;
  height: 100px;
  background: rgb(240, 236, 203);
  padding: 10%;
  text-align: center;
  margin: 10px;
}

.dv-box {
  position: relative;
  background: white;
  padding: 20px;
  text-align: center;
  margin: 3%;
  border: 20px solid white;
}

.poirot-box {
  position: relative;
  background: white;
  padding: 30px;
  text-align: left;
  margin: 10%;
  border: 20px solid white;
}

.dv-box-black {
  position: relative;
  background: black;
  padding: 20px;
  text-align: center;
  margin: 3%;
  border: 20px solid black;
}

.dv-box-child-one {
  position: relative;
  background: white;
  width: 100%;
  height: auto;
  padding: 0%;
  text-align: center;
  margin: 0px;
  border: 10px solid rgb(255, 255, 255);
}

.dv-box-child-three {
  position: relative;
  background: white;
  width: auto;
  height: auto;
  border: 10px solid rgb(17, 155, 17);
  padding: 4%;
  text-align: left;
  margin: 0px;
}

.box {
  background: rgb(248, 237, 244);
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  margin: 5%;
  border: 10px solid black;
  border-radius: 15px;
}

.boxleft {
  background: yellow;
  position: relative;
  height: auto;
  width: auto;
  padding: 10px;
  margin: 5%;
  border: 10px solid black;
  border-radius: 15px;
  text-align: left;
}

.dv-box-child-two {
  position: relative;
  width: auto;
  height: auto;
  padding: 0%;
  text-align: center;
  margin: 0px;
  border: 10px solid, black;
}

.readabletext {
  size: 10px;
  color: rgb(7, 7, 7);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.redtext {
  color: red;
}

.plumtext {
  color: rgb(243, 136, 220);
}

.greentext {
  color: lawngreen;
}

.bluetext {
  color: rgb(119, 117, 226);
}

.orangetext {
  color: rgb(230, 137, 30);
}

.lilactext {
  color: rgb(137, 113, 175);
}

.greenertext {
  color: rgb(120, 196, 33);
}

.largertext {
  font-size: 100px;
}

.container {
  width: 100%;
  height: 30vh;
  background: #FFE273;
  color: #FF634B;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container h1 {
  font-size: 80px;
  font-weight: 600;
}

.hovertext {
  position: relative;
  border-bottom: 1px dotted black;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 220px;
  background-color: rgb(243, 28, 189);
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 10px 10px;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 0.7;
  visibility: visible;
}

@media all and (min-width: 320px) {
  body {
    background-color: #e3d7f7;
  }
}

@media all and (min-width: 768px) {
  body {
    background-color: #FFFDC4;
  }
}

@media all and (min-width: 1200px) {
  body {
    background-color: white;
  }
}