* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
 
nav {
    max-width: 100%;
    overflow-x: hidden;
    height: 100px;
    background-color: #fff;
     
}
body {
    background:#a24a03;
    font-family:'Goblin One', cursive;
    color:#eb4040;
     }
 
h1  {
    color:#e4ed44;
    text-align: left;
    font-size: 50px;
    } 
 
h2 {
    background-color:#000000;
    color: #ef61e2;
    font-size: 10px;
    }
 
h3 {
    background: #dd4278    
    }

ul {
  font-size: relative;
}
ul li {
    list-style: none;
    display: inline-block;  
    line-height: 100px;
    
}
ul li a{
    padding: 0 20px;
     display: block;
        }
 
.smaller-image { width:90%;
   }
 
.img {
   max-width: 100%;
}


.fat-yellow-border {
  border-color: #FFFDC4;
  border-width: 20px;
  border-style: solid;
  border-radius: 50%;  
  }

 .thin-green-border {
 border-color: #D5FE9B;
 border-width: 10px;
 border-style: solid;
 border-radius: 20px;
    }       

        
 .box {
  background: yellow;
  height: 100px;
  width: 200px;
  padding: 20px;
  margin: 50px;
  border: 2px solid black;
  border-radius: 15px;
            }
     
.black-box {
  background-color: black;
  padding: 20px;
      }
 
 
.parent {
   position: relative;
   background-color: #b35555;
   padding: 25px;
   text-align: center;
   margin: 15px;
   border: 10px solid black;
 
}
.child-one {
   position: relative;
   width: 75%;
   height: 100px;
   background: #f5e347ad;
   padding: 10%;
   text-align: center;
   margin: 10px; 
   }
 
.child-two {
   position: relative;
   width: 75%;
   height: 100px;
   background: #7cbc28;
   padding: 10%;
   text-align: center;
   margin: 10px;  
 
}
.child-three {
   position: relative;
   width: 75%;
   height: 100px;
   background: #f11b40;
   padding: 10%;
   text-align: center;
   margin: 10px;  
}
 
.dv-box {
  padding:20%;
  background: gold;
  border: 20px solid white;
  margin: 10px;
}

.dv-box-child {
  position: relative;
  width: 75%;
  height 75%;
  background: greenyellow;
  padding: 10%;
  text-align: center;
  }
 
@media all and (min-width: 320px) {
    body {
        background-color:blue;             
    }
 
@media all and (min-width: 768px) {
    body {
        background-color:#c6b6ec;
    }
 
@media all and (min-width: 1200px) {
        body {
        background-color:seagreen;
    }
 
