
body {
    background: #ae5a2a;
    font-family:'Goblin One', cursive;
    color:#FFFFD5 ;
          }
h1 {
    color:#cbffba;
    text-align: center;
    
} 

h2 {
    color:black;
    font-size: 50px;
}
.bigfont { font-size: 75px;
         }
.smaller-image { width:300px;
               }
.medium-image {
    width: 90%;
}

