* {
    margin: 0;
    padding: 0;
    text-decoration: none;
        }

nav {
background-color: #D5FE9B;
position: relative;
padding:0px;
text-align: left;
margin: 0px;
                }
 
body {
    background:#ffffff;
    font-family:'Goblin One', cursive;
    color: #341342;
    line-height: 1.8;
     }
 
h1  {
    color: #77801B;
    font-size: 70px;
     } 

h2 {
  color: #F55E4B;
  font-size:60px;
  text-align: center;
                }   
 
h3 {
    text-align: left;  
    font-size: 90%; 
    }

ul {
    }

ul li {
    list-style: none;
    display: inline-block;  
    line-height: 100px;     
    }
    
ul li a{
    padding: 0 20px;
     display: block;
        }
 
.smaller-image { 
  max-width: 50%;
  text-align:left;
   }
 
.img {
   max-width: 100%;
   text-align: center;
}

.container {
  position: relative;
}

.text-block {
  position: absolute;
  bottom: 5%;
  right: 5%;
  top: 5%;
  left: 5%;
  margin: opx;
  overflow:hidden;
  color: #FF522A;

}

.fat-yellow-border {
  border-color: #FFFDC4;
  border-width: 20px;
  border-style: solid;
  border-radius: 50%;  
  }

 .thin-green-border {
 border-color: #D5FE9B;
 border-width: 10px;
 border-style: solid;
 border-radius: 20px;
    }       
        
 .box-demonstration {
  position: relative;
  background: blue;
  padding: 20px;
  margin: 50px;
  border: 11px solid rgb(235, 133, 226);
  text-align: center;
  border-radius: 15px;
                   } 
                   
     
.black-box {
  background-color: black;
  padding: 20px;
      }
 
.banner {
  position: relative;
  display: flex;
  background: rgb(187, 31, 31);
  padding:20px;
  text-align: center;
  margin: 20px 10px;
  border: 20px solid rgb(22, 183, 204);
        }
     
 
.parent {
   position: relative;
   background: #b35555;
   padding: 25px;
   text-align: center;
   margin: 15px;
   border: 10px solid black;
 
}
.child-one {
   position: relative;
   width: 75%;
   height: 100px;
   background: #f5e347ad;
   padding: 10%;
   text-align: center;
   margin: 10px; 
   }
 
.child-two {
   position: relative;
   width: 75%;
   height: 100px;
   background: #c50d0d;
   padding: 10%;
   text-align: center;
   margin: 10px;  
 
}
.child-three {
   position: relative;
   width: 75%;
   height: 100px;
   background: khaki;
   padding: 10%;
   text-align: center;
   margin: 10px;  
}
 
.dv-box {
  position: relative;
  background: white;
  padding:20px;
  text-align: center;
  margin: 3%;
  border: 20px solid white;
}

.dv-box-black {
  position: relative;
  background: black;
  padding:20px;
  text-align: center;
  margin: 3%;
  border: 20px solid black;
}

.dv-box-child-one {
  position: relative;
  background: white;
  width: auto;
  height: auto;
  border: 10px solid white;
  padding: 0%;
  text-align: center;
  margin: 0px;
     }

.dv-box-child-three {
  position: relative;
  background: white;
  width: auto;
  height: auto;
  border: 10px solid black;
  padding: 4%;
  text-align: left;
  margin: 0px;
         }

.box {
  background: yellow;
  position: relative;
  height: auto;
  width: auto;
  padding: 5px;
  margin: 5%;
  border: 10px solid black;
  border-radius: 15px;
    }
     
.dv-box-child-two {
  position: relative;
  width: auto;
  height: auto;
  padding: 0%;
  text-align: center;
  margin: 0px;
  border: 10px solid, black;
}

.readabletext {
  size: 10px;
  color: rgb(216, 15, 156);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.redtext {
  color: red;
}

.plumtext {
  color:plum;
}

.greentext {
  color:lawngreen;
}

.largertext {
  font-size: 100px;
}

 
@media all and (min-width: 320px) {
    body {
        background-color:#e3d7f7;             
    }
 
@media all and (min-width: 768px) {
    body {
        background-color: #FFFDC4;
    }
 
@media all and (min-width: 1200px) {
        body {
        background-color:white;
    }