
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav {
    width: 100%;
    height: 100px;
    background-color: #fff;
    
}
body {
    background:#a24a03;
    font-family:'Goblin One', cursive;
    color:#070707;
     }

h1  {
    color:#cbffba;
    text-align: left;
    } 

h2 {
    background-color:#6f86ec;
    color: black;
    font-size: 20px;
    }

h3 {
    background: palevioletred    
    }
ul {
    
}
ul li {
    list-style: none;
    display: inline-block;  
    float: left;
    line-height: 100px;
    
}
ul li a{
    padding: 0 20px;
    display: block;
    
    }
.wrapper {
    margin: 0 auto;
    width: 1000px;
    
}

.bigfont { 
    font-size: 75px;
   }

.smaller-image { width:300px;
   }
.medium-image {
    width: 90%;
}
@media all and (min-width: 320px) {
    body {
        background-color:blue;             
    }

@media all and (min-width: 768px) {
    body {
        background-color:lightyellow;
    }

@media all and (min-width: 1200px) {
        body {
        background-color:seagreen;
    }
    


