
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav {
    width: 100%;
    height: 100px;
    background-color: #fff;
    
}
body {
    background:#a24a03;
    font-family:'Goblin One', cursive;
    color:#e8add9;
     }
h1  {
    color:#cbffba;
    text-align: center;
    } 

h2 {
    background-color:#6f86ec;
    color: black;
    font-size: 20px;
    }

h3 {
    background:#927E15    
    }
ul {
    
}
ul li{
    list-style: none;
    display: inline-block;  
    float: left;
    line-height: 100px;
    
}
ul li a{
    padding: 0 20px;
    
    }

.bigfont { 
    font-size: 75px;
   }

.smaller-image { width:300px;
   }
.medium-image {
    width: 90%;
}
@media all and (min-width: 320px) {
    body {
        background-color:blue;             
    }

@media all and (min-width: 768px) {
    body {
        background-color:lightyellow;
    }

@media all and (min-width: 1200px) {
        body {
        background-color:seagreen;
    }
    


